* {
  margin: 0;
  padding: 0;
}

.page-width {
  padding-left: calc((100vw - 855px)/2) !important;
  padding-right: calc((100vw - 855px)/2) !important;
  width: 100%;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 0;
}

.header-div h1 {
  width: 70%;
  font-size: 48px;
  font-style: italic;
  color: red;
  padding: 0;
}

.header-div ul {
  width: 30%;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-div li a, footer li a {
  color: red;
}

main {
  display: flex;
  padding: 30px 0;
}

.tabs {
  display: flex;
}

.tabs a span {
  display: inline-block;
  border-radius: 5px 5px 0 0;
  width: 100px;
  max-width: calc((100vw - 82px)/3);
  margin-right: 10px;
  text-align: center;
  background: #ddd;
  color: red;
  font-weight: 700;
  padding: 5px;
}

.tabs a span.active, .content {
  background: #eee;
}

.content {
  padding: 20px 8px;
  border-radius: 5px;
}

.content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content li {
  padding: 4px 8px;
  background: #eff;
  border-radius: 5px;
}

.content div {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.content input {
  font-size: 18px;
  font-weight: 700;
  height: 30px;
  width: 200px;
  margin-right: 4px;
  border-radius: 4px;
  border-color: #ccc;
}

.content button {
  background: #ccc;
  color: black;
  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  padding: 4px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background: yellow;
  padding: 50px 0 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div {
  width: 30%;
  min-width: 180px;
}

footer ul {
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 60px;
}

footer p {
  margin: 0 0 20px 0;
  font-size: 20px;
}

footer li {
  font-size: 15px;
  margin: 0 0 4px 0;
}

footer .title {
  color: red;
  font-style: italic;
}

footer .link {
  font-weight: 700;
  color: red;
}

@media screen and (max-width: 955px) {
  .page-width {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .page-width {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}


